# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/connect.lock
/coverage
npm-debug.log
.DS_Store

node_modules
package-lock.json
# config.json
UberEats.dbs
UberEatsDBSQL.sql
UberEatsDBModel.db.mwb
UberEats.dbs.bak
UberEatsDBSQLScript.dbs
UberEatsDBModel.db.mwb.bak